extends layout 

block content
  div#main-content
    div#main-header
      a(href="/")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
          path(d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z")
      h2 / View Thread
    div#thread-wrapper
      div#thread-header
        div#thread-display
          if thread.flair == 'Discussion'
            img.thread-logo.f(src="/images/thread-discuss.png")
          if thread.flair == 'General'
            img.thread-logo(src="/images/thread-general.png")
          if thread.flair == 'Question'
            img.thread-logo(src="/images/thread-question.png")/
          
        div#thread-title-wrapper
          a.thread-title(target="_self" href="/view/thread/" + thread._id)
            p.thread-flair(class=thread.flair) #{thread.flair}
            p.display-thread-title-text #{thread.title}
          div.thread-details
            p.thread-user by #{thread.user} • #{thread.date_created_formatted}
          hr
          div#thread-msg-content
            p#thread-msg #{thread.message}
      hr#replies-hr
      div#thread-reply-content
          ul#replies-list
            each msg in messages
                li.replies(id='r' + msg._id)
                  if(msg.id === user._id)
                    img.reply-avatar(src="/images/user.png")
                    div.reply-msg-wrapper
                      p.reply-msg-user #{msg.user.username} • #{msg.date_created_formatted}
                      p.reply-msg-content #{msg.message}
                  else 
                    img.reply-avatar(src="/images/user.png")
                    div.reply-msg-wrapper
                      p.reply-msg-user #{msg.user.username} • #{msg.date_created_formatted}
                      p.reply-msg-content #{msg.message}
            else 
              p No replies yet.
                
      div.thread-controls
        div#page-threads
         if prevpage >= 1
           a.page-controls(href="/view/thread/" + thread._id + '?page=' + prevpage) Prev
         if nextpage > 1 && nextpage != page
           a.page-controls(href="/view/thread/" + thread._id + '?page=' + nextpage) Next

      if user
        div#reply-wrapper
          form#reply-account
            img.reply-avatar(src='/images/user.png')
          form#form-reply(method="POST" action="")
            label(for="message") Enter your reply:
            textarea.form-controls(type="text" for="message" id="message" name="message" rows="5" resize="false")
            input#date_created.form-controls(type="hidden" value=new Date() name="date_created")
            input.form-controls(type="hidden" value=thread._id name="thread_id")
            button#btn-form.form-submit(type="submit") Post A Reply
      else 
        p#reply-form-disabled You must <a href='/log-in'>login</a> in order to reply to this thread.

      if errors 
         p We found errors in your submission:
           ul 
             for error in errors 
               li!= error.msg
  div#sidebar-content
    div.rules-content
      div.sidebar-header
        h2.sidebar-title-text Forum Rules
      div.rules-wrapper
        p.rules.p1 <strong> 1. Be respectful with each other. </strong> <br/>
          | Do not harrass, bully, threat other users. <br/>
          | Remember, behind every screen is a human being.
        p.rules.p2 <strong> 2. Stay on topic. </strong> <br/>
          | When engaging on a thread,try to stay 'on topic'.
          | If something new comes up that you would like to discuss, start a new thread.
        p.rules.p2 <strong> 3. Share your knowledge. </strong> <br/>
          | If you think what you know is useful or interesting, feel free to share!
          | Make sure to also provide sources if you wish to give information.
          
        


