extends layout

block content
  div#main-content
    div#main-header
      h2 Latest Threads
      div#create-thread-wrapper
        if user
          a#create-thread-link(href='/new')
              p + Create a thread
    div#main-threads-wrapper
    ul#thread-list 
      each thread, key in threads
        li.thread-elements
          if thread.flair == 'Discussion'
            img.thread-logo.f(src="/images/thread-discuss.png")
          if thread.flair == 'General'
            img.thread-logo(src="/images/thread-general.png")
          if thread.flair == 'Question'
            img.thread-logo(src="/images/thread-question.png")
          div.thread-title-wrapper
            a.thread-title(target="_self" href="/view/thread/" + thread._id)
              p.thread-flair(class=thread.flair) #{thread.flair}
              p.thread-title-text #{thread.title}
            div.thread-details
              p.index-thread-user by #{thread.user} • #{thread.date_created_formatted}
              p.thread-pages
                - for (let i = threadpage[key]; i >= 1; i--) {
                  -  if ((threadpage[key] - 3) == i) {
                  -    break 
                  - } else { 
                      a(href='/view/thread/' + thread._id + '?page=' + i, class='thread-page-links')= '[' + i + ']'
                  -   }
                - }
          if replies[key].length
            div.thread-last-reply
              a(href='/view/thread/' + replies[key][0].thread_id + '/?page=' + replies[key][0].get_page + '#r' + replies[key][0]._id)
                p.last-reply-msg= 'Last reply at ' + replies[key][0].date_created_formatted
                p.last-reply-date= 'by ' + replies[key][0].user
      else 
        li There are no threads

    div.thread-controls
      div#page-threads
        if prevpage >= 1
          a.page-controls(href="/?page=" + prevpage) Prev
        if nextpage > 1 && nextpage != page
          a.page-controls(href="/?page=" + nextpage) Next
  div#sidebar-content
    div#recent-content
      div#sidebar-header
        h2.sidebar-title-text Recent Replies
      ul.recent-replies-list
        each msg in messages 
          li.recent-replies
            img.recent-replies-img(src="/images/replies.png", alt="")
            div.recent-replies-wrapper
              if msg.message.length >= 30
                a(target="_self" href="/view/thread/" + msg.thread_id + '/?page=' + msg.get_page + '#r' + msg._id)
                  p.recent-replies-msg= msg.message.slice(0, 30) + "..."
              else
                a(target="_self" href="/view/thread/" + msg.thread_id + '/?page=' + msg.get_page + '#r' + msg._id)
                  p.recent-replies-msg #{msg.message}
              p.recent-replies-user replied by #{msg.user} <br/>
                | #{msg.date_created_formatted} • 
                a(target="_self" href="/view/thread/" + msg.thread_id) Visit thread
        else
          li No replies.

