extends layout

block content
  div#main-content
    div#main-header
      h2 Latest Threads
      div#create-thread-wrapper
        a#create-thread-link(href='/thread/new')
          h2 + Create a thread
    div#main-threads-wrapper
    ul#thread-list 
      each thread, key in threads
        li#thread-elements
          if thread.flair == 'Discussion'
            img#thread-logo(src="/images/thread-discuss.png")
          if thread.flair == 'General'
            img#thread-logo(src="/images/thread-general.png")
          if thread.flair == 'Question'
            img#thread-logo(src="/images/thread-question.png")
          div#thread-title-wrapper
            a#thread-title(target="_self" href="/thread/" + thread._id)
              p <span id="thread-flair"> #{thread.flair} </span>
              p#thread-title-text #{thread.title}
            div#thread-details
              p#thread-user #{thread.user} • #{thread.date_created_formatted}
              p#thread-pages
                - for (let i = threadpage[key]; i >= 1; i--) {
                  -  if ((threadpage[key] - 3) == i) {
                  -    break 
                  - } else { 
                      a(href='/thread/' + thread._id + '/' + i, class='thread-page-links')= i
                  -   }
                - }
          if replies[key].length
            div#thread-last-reply
              p= 'Last reply by ' + replies[key][0].user
              p= replies[key][0].date_created_formatted
          //- else
          //-   div#thread-last-reply
          //-   p No replies yet.
      else 
        li There are no threads

    div#thread-controls
      div#page-threads
        if prevpage >= 1
          a.page-controls(href="/?page=" + prevpage) Prev
        else 
          p.page-controls
        if nextpage > 1 && nextpage != page
          a.page-controls(href="/?page=" + nextpage) Next
        else
          p.page-controls
  div#sidebar-content
    div#recent-content
      div#sidebar-header
        h2#sidebar-title-text Recent Replies
      ul 
        each msg in messages 
          li
            if msg.message.length >= 30
              p= msg.message.slice(0, 30) + "..."
            else
              p #{msg.message}
            p#recent-reply-user #{msg.user} • #{msg.date_created_formatted}
              a(target="_self" href="/thread/" + msg.thread_id) Visit thread
        else
          li No replies.

